.aa{
    /*height: 25px;*/
    width: 100%;
    border: 1px solid white;
    border-radius: 15px;
    background-color:black;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    font-size: 15px;
    /*margin-left: 280px;*/
    margin: 0 0;
    padding: 10px 10px;
    
}
.bb{
   display: flex;
    justify-content:center;
    align-items: center;
    font-size: 12px;
    gap: 10px;
    margin-right: 10px;
   
}
.fu{
    margin-left: 10px;
    color: aliceblue;
}
.sx{
    text-decoration: none;
    color: white;
}