.aq{
    display: flex;
    height: 300px;
    width: 300px;
    margin-right: 20px;
}
.tf{
    font-size: 25px;
    align-items: center;
    text-align: center;
}
.ck{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.er{
    font-size: 100px;
}
.zx{
    background-color: white;
    margin-top: 5px;
}